.heading{
    max-width: 100%;
    /* position: fixed; */
    top: 0;
    z-index: 100;
    width: 100%;
    transition: all 0.4s ease-in-out;
}

.navbar{
    width: 100%;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    padding: 0.4% 10vw;
    align-items: center;
    background-color: #000;
}

.logo{
    width: 355px;
    height: 60px;
}

rect{
    fill: #fff;
}

.burg{
    fill: #000;
    /* transform-origin: calc(59.074px/2) calc(59.074px/2); */
    transform-origin: calc(60px/2) center;
    transition: all 0.3s ease-in-out; 
}


.burg:hover{
    transform: rotate(-90deg);
}

.uni{
    fill: #000;
}

.verse{
    fill: #fff;
}

